// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-title: 'Raleway', sans-serif;
$font-body: 'Roboto', sans-serif;
$font-body-condensed: 'Roboto Condensed', sans-serif;

// Palette
$color-pri-0: #2C2F33;
$color-pri-1: #686E75;
$color-pri-2: #4B4F55;
$color-sec-1: #302F36;
$color-sec-1: #706E7B;
$color-sec-1: #514F5A;
$color-sec-2: #2A3230;
$color-sec-2: #657370;
$color-sec-2: #485451;

// Color system
$discord: #7289da;
$info: #008d9d;
$patreon: #F80;

$theme-colors: (
    "primary": $color-pri-0,
    "secondary": $color-sec-1,
    "terciary": $color-sec-2,
    "discord": $discord,
    "info": $info,
    "patreon": $patreon,
    "dirty-white": #dddbdb
);

// Sizing system
$sizes: (
    "25vw": 25vw,
    "50vw": 50vw,
    "75vw": 75vw,
    "100vw": 100vw,
    "25vh": 25vh,
    "50vh": 50vh,
    "75vh": 75vh,
    "100vh": 100vh
);

// Linking
$link-color: $discord;

@import "../bootstrap/scss/bootstrap.scss";
