/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* New Color Palette */
.bg-primary {
    background-color: #212121 !important;
}

/* Logo */
a#logo-scripthub img {
    height: 6vh;
    width: 6vh;
}

/* Information */
a.nav-link#itemInfo {
    background-color: #f0f8ff;
}
a.nav-link#itemInfo:hover {
    background-color: #dae1e7;
}

/* Documentation */
a.nav-link#itemDoc {
    background-color: #33b5e5;
}
a.nav-link#itemDoc:hover {
    background-color: #2c9ec7;
}

/* Patreon */
a.nav-link#itemPatreon {
    background-color: #F80;
}
a.nav-link#itemPatreon:hover {
    background-color: #e07903;
}

/* Discord */
a.nav-link#itemDiscord {
    background-color: #7289DA;
}
a.nav-link#itemDiscord:hover {
    background-color: #6275bd;
}

/* Register */
a.nav-link#itemLogin {
    background-color: #5a6268;
}
a.nav-link#itemLogin:hover {
    background-color: #4b5257;
}

/* Custom Sizes */
.w-25vh {
    width: 25vh;
}

.w-50vh {
    width: 50vh;
}

.w-75vh {
    width: 75vh;
}

.w-100vh {
    width: 100vh;
}

.h-25vh {
    height: 25vh;
}

.h-50vh {
    height: 50vh;
}

.h-75vh {
    height: 75vh;
}

.h-100vh {
    height: 100vh;
}

/* Custom Text Style */
.text-start {
    text-align: start;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .text-sm-start {
        text-align: start;
    }

    .w-sm-25vh {
        width: 25vh;
    }

    .w-sm-50vh {
        width: 50vh;
    }

    .w-sm-75vh {
        width: 75vh;
    }

    .w-sm-100vh {
        width: 100vh;
    }

    .h-sm-25vh {
        height: 25vh;
    }

    .h-sm-50vh {
        height: 50vh;
    }

    .h-sm-75vh {
        height: 75vh;
    }

    .h-sm-100vh {
        height: 100vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-md-start {
        text-align: start;
    }

    .w-md-25vh {
        width: 25vh;
    }

    .w-md-50vh {
        width: 50vh;
    }

    .w-md-75vh {
        width: 75vh;
    }

    .w-md-100vh {
        width: 100vh;
    }

    .h-md-25vh {
        height: 25vh;
    }

    .h-md-50vh {
        height: 50vh;
    }

    .h-md-75vh {
        height: 75vh;
    }

    .h-md-100vh {
        height: 100vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-lg-start {
        text-align: start;
    }

    .w-lg-25vh {
        width: 25vh;
    }

    .w-lg-50vh {
        width: 50vh;
    }

    .w-lg-75vh {
        width: 75vh;
    }

    .w-lg-100vh {
        width: 100vh;
    }

    .h-lg-25vh {
        height: 25vh;
    }

    .h-lg-50vh {
        height: 50vh;
    }

    .h-lg-75vh {
        height: 75vh;
    }

    .h-lg-100vh {
        height: 100vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-xl-start {
        text-align: start;
    }

    .w-xl-25vh {
        width: 25vh;
    }

    .w-xl-50vh {
        width: 50vh;
    }

    .w-xl-75vh {
        width: 75vh;
    }

    .w-xl-100vh {
        width: 100vh;
    }

    .h-xl-25vh {
        height: 25vh;
    }

    .h-xl-50vh {
        height: 50vh;
    }

    .h-xl-75vh {
        height: 75vh;
    }

    .h-xl-100vh {
        height: 100vh;
    }
}
